body {
    margin: 0;
    padding: 0;
    background: rgb(11, 30, 60);
    background: linear-gradient(90deg, rgba(11, 30, 60, 1) 4%, rgba(5, 87, 125, 1) 100%);
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #05577D;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #05577D;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #099EE3;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

a {
    color: #05577D;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}
