@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

* {
    box-sizing: border-box;
}
.logo{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}


.navBar{
    background: rgb(11,30,60);
    background: linear-gradient(90deg, rgba(11,30,60,1) 4%, rgba(5,87,125,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.navBar li {
    display: inline-block;
    margin: 5px;
    background-color: #0b1e3c;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #0b1e3c;
}

.navBar li:hover{
    background-color: #05577d;
}

.navBar li a {
    color: #f1f1f1;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

.lis{
    margin-bottom: 7px;
}

.lis .login {
    background-color: #f1f1f1;
}

.lis .login a{
    color: #0b1e3c;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}