body {
    margin: 0;
    padding: 0;
    background: rgb(11, 30, 60);
    background: linear-gradient(90deg, rgba(11, 30, 60, 1) 4%, rgba(5, 87, 125, 1) 100%);
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

.card {
    width: 23%;
    margin: 1%;
    float: left;
    background-color: #f1f1f1;
    color:#05577D;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 15px;
}

#numero_agencia {
    margin: 0;
}

#cidade,
#endereco,
#contato {
    margin: 5px 0;
}

#btnAlugar {
    text-decoration: none;
    padding: 7px;
    border-radius: 7px;
    background: rgb(11, 30, 60);
    background: linear-gradient(90deg, rgba(11, 30, 60, 1) 4%, rgba(5, 87, 125, 1) 100%);
    color: white;
    box-shadow: 0px 1px 4px #05577D ;
    border: none;
}

#btnAlugar:hover{
    background: rgb(18, 47, 94);
    background: linear-gradient(90deg, rgb(20, 53, 107) 4%, rgb(13, 125, 177) 100%);
}

.filtros{
    background-color: white;
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    align-items: baseline;
}

.filtros a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: #05577D;
    font-size: 18px;
}